@model Mission6_Whisenant.Models.MovieCollection

@{
    ViewData["Title"] = "Add Movie";
}
<h3>Oh Hey. You wanna add a movie to Joel's Movie Collection. Interesting...</h3>
<br />
<h6>I guess we will allows it.</h6>

<form method="post">
    <label asp-for="Category">Category</label>
    <input asp-for="Category" type="text" required />
    <br />
    <br />
    <label asp-for="Subcategory">Subcategory</label>
    <input asp-for="Subcategory" type="text" />
    <br />
    <br />
    <label asp-for="Title">Title</label>
    <input asp-for="Title" type="text" required />
    <br />
    <br />
    <label asp-for="Year">Year</label>
    <input asp-for="Year" type="number" min="1900" max="2099" required />
    <br />
    <br />
    <label asp-for="Director">Director</label>
    <input asp-for="Director" type="text" required />
    <br />
    <br />
    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating" required>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <br />
    <label asp-for="Edited">Edited</label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <br />
    <label asp-for="LentTo">Lent To</label>
    <input asp-for="LentTo" type="text" />
    <br />
    <br />
    <label asp-for="Notes">Notes</label>
    <input asp-for="Notes" type="text" maxlength="25" />
    <button type="submit">Add Movie</button>
</form>