@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Let's get to know our guy Joel.  </p>
<br />
<a href="▪ https://www.qwcomedy.com/">QW Comedy Club</a>
<br />
<p>
    Joel is a funny man. He likes to crack the jokes. He likes to perform at Quick Wits Comedy. This allows him to
    hone his funny skills. He is pretty funny. If you waan see go check him out!
</p>
<a href="▪ https://baconsale.com/">Bacon Sale Podcast</a>
<br />
<p>
    Joel likes film as we all know. That is why you are here! Do you wanna here this hilarious man talk about
    his favorite films? Look no farther!
</p>
<a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" height="100"/>
</a>
<br />
<p>
    Oh? You did not want to click the link above? Click the photo go the Baconsale Podcast website!
</p>



