@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="container">
    <div class="title">
        <div class="text-center">
            <h1 class="display-4">The Joel Hilton Film Collection</h1>
        </div>
    </div>
    <div class="image-container">
        <div class="text-center">
            <img src="~/img/joelhiltonheadshot.jpg" alt="Joel Hilton Headshot" />
        </div>
    </div>
</div>
<br />
<h2>Movie that should be in the Collection if not already</h2>
<!-- Movie Posters Section -->
<div class="movie-posters">
    <!-- Repeat for each movie poster, change the src attribute to your images -->
    <img src="~/img/aftersun.jpg" alt="Movie Poster 1">
    <img src="~/img/bonesandall.jpg" alt="Movie Poster 2">
    <img src="~/img/ladybird.jpg" alt="Movie Poster 3">
    <img src="~/img/littlewomen.jpg" alt="Movie Poster 4">
    <img src="~/img/moonlight.jpg" alt="Movie Poster 5">
    <img src="~/img/nope.jpg" alt="Movie Poster 6">
    <img src="~/img/silverlinings.jpg" alt="Movie Poster 7">
    <img src="~/img/theholiday.jpg" alt="Movie Poster 8">
    <img src="~/img/waves.jpg" alt="Movie Poster 9">
    <img src="~/img/goodwill.jpg" alt="Movie Poster 10">
</div>

